#results{ 
    display:flex; 
    flex-direction:row; 
    flex:1 1 100%;
    flex-wrap:nowrap;
    justify-content:center; 
    width:100%;
    height:100%;
    background:#7CB9E4; 
    color:white;
    transition: ease-out 0.75s;
    }

#results:hover{
    transform: scale(1.01);
    background-color: skyblue;
    box-shadow: inset 2500px 0 0 0 rgb(76, 138, 162);
} 

#sidebar{
    display:flex; 
    flex-direction:column;
    flex-wrap:nowrap;
    background-color: lightblue;
    font-size:40%;
    overflow:auto; 
    width:80%;
    height:400px;
}

button{
  justify-content:center; 
  background:#7CB9E4; 
  color:white;
  align-items: center;
  border: cadetblue;
  border-radius: 20px;
  padding:10px;
  margin:15px;
}

#surah{
    padding:15px;
    margin:15px;
    border: cadetblue;
    border-radius: 20px;
    display:flex; 
    flex-direction: row;
    flex-wrap:nowrap;
     
    background:#7CB9E4; 
    color:white;
    align-items: center;
    font-size:80%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:300px;
    text-align: center;;
    text-decoration: none;
}
#surah:hover{
    transform: scale(1.05);
    background-color: lightblue;
  }

#quran{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

#buttons{
    text-decoration: none; 
    color: white; 
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
    text-align: center;
    margin:5px;   
    width:40%;   
    height:100%;
    font-size:70%;
    transition: ease-out 0.5s;
}

#buttons:hover{
    box-shadow: inset 1000px 0 0 0 lightseagreen;
}


.compass {
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top:50px
  }

  .compass > .arrow {
    position: absolute;
    width: 0;
    height: 0;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 30px 20px 0 20px;
    border-color: red transparent transparent transparent;
    z-index: 1;
  }

  .compass > .compass-circle,
  .compass > .my-point {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    background: url(https://purepng.com/public/uploads/large/purepng.com-compasscompassinstrumentnavigationcardinal-directionspointsdiagram-1701527842316onq7x.png)
      center no-repeat;
    background-size: contain;
  }

  .compass > .my-point {
    opacity: 0;
    width: 20%;
    height: 20%;
    background: red;
    border-radius: 50%;
    transition: opacity 0.5s ease-out;
  }

  .start-btn {
    margin: auto;
    margin-top:30px;
    margin-bottom: 30px;
    color:white;
    justify-content: center;
    align-self: center;
    
  }
  

#surahContainer{
       height: 70vh;
       overflow-y: scroll;
       padding: 20px;
       margin: 20px;
       background-color: rgba(255,255,255,0.1);
       border-radius: 10px;
}